* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    padding: 25px;
    font-size: 50px;
}

.main-container {
    flex-direction: column;
}

.main-container, .grid-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-box {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    font-size: 100px;
    font-weight: bold;
}