* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container, .grid-box, .play-again, .button-container, .prompt-container, .info-container, .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu, .info-container {
    flex-direction: column;
    gap: 15px;
    border: 3px solid black;
    border-radius: 10px;
}

#title {
    padding: 25px;
    font-size: 50px;
    user-select: none;
}

.main-menu {
    width: 50%;
    
}

.main-menu h2 {
    text-align: center;
}

.options {
    padding: 25px;
}

.player-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;
    column-gap: 25px;
    margin-top: 10px;
}

.info-container {
    padding: 10px;
}

.info-container input[type="submit"] {
    padding: 5px;
    width: 100%;
}

.info-container input[type="text"] {
    height: 25px;
}

#start-game, #set-names {
    padding: 10px;
    margin: 25px;
    width: 50%;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 5px;
}

.main-container {
    flex-direction: column;
}

.outer-border {
    padding: 20px;
    border: 4px solid black;
    border-radius: 15px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}

.grid-box {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    font-size: 165px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.grid-box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#event-text {
    margin: 25px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.play-again {
    font-size: 25px;
    font-weight: bold;
    flex-direction: column;
    padding: 25px;
    border: 3px solid black;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

#play-again-button {
    padding: 10px;
    font-size: 15px;
    border: 2px solid black;
    background-color: lightgreen;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#play-again-button:hover, #start-game:hover, #set-names:hover {
    box-shadow: 2px 2px 5px;
}

.prompt-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}